::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(197, 194, 194);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(238, 235, 235);
  border-radius: 30px;
}

::-webkit-file-upload-button {
  /* background-image: url("../images/6484211441606988091-128.png"); */
  /* border: none;
  cursor: pointer;
  width: 10%; */
}
